@using com.mehmet.oracle.entities.BaseClasses
@using X.PagedList.Mvc.Core.Common
@model TumSinyaller

@{
    /*
    "E400","E401", // normal açılış yeşil
    "E402", // erken açılış sarı
    "E403","E405" // mesai dışı giriş turuncu
    "E200", // tek gözden gelen alarm (krımızı)
    "E211", // sabotaj
    "E222", // birden çok gözden gelen alarm
    "E233", // sabotaj
    "E255" // ambulans
    "E100", // sistem arızası gri
    "E120", // elektrik arızası pembe
    "E140", // telefon aruzası // mavi
    */
    Layout = "_AdminLayout";
    var issinyal = Model._islenmisSinyal;
}


<div class="container-fluid text-center">
    <h3 class="bg-warning" >İşlem Yapılmış Sinyaller</h3>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm ">
            <thead class="thead">
            <td>Sid</td>
            <td>Abone No</td>
            <td>Sinyal Tarihi</td>
            <td>Sinyal Saati</td>
            <td>İşl.Saati</td>
            <td>İşl.Tarihi</td>
            <td>Sinyal Kodu</td>
            <td>Bölge No</td>
            <td>Zone</td>
            <td>Operatör</td>
            <td>Sinyal Açıklama</td>
            </thead>
            <tbody>
            @foreach(var sinyal in issinyal)
            {
                if (sinyal.SinyalKod== "E200" ||
                    sinyal.SinyalKod=="E211"||
                    sinyal.SinyalKod=="E222"||
                    sinyal.SinyalKod=="E233"||
                    sinyal.SinyalKod=="E255")
                {
                    <tr class="bg-danger" >
                        <td>@sinyal.SinyalId</td>
                        <td>@sinyal.AboneNo</td>
                        <td>@sinyal.SinyalTarih</td>
                        <td>@sinyal.SinyalSaat</td>
                        <td>@sinyal.IslemSaat</td>
                        <td>@sinyal.IslemTarih</td>
                        <td>@sinyal.SinyalKod</td>
                        <td>@sinyal.Bolum</td>
                        <td>@sinyal.Zone</td>
                        <td>@sinyal.OperatorId</td>
                        <td>@sinyal.SinyalTAnim</td>
                    </tr>  
                }
                if (sinyal.SinyalKod== "E400" ||
                    sinyal.SinyalKod=="E401" ||
                    sinyal.SinyalKod=="E404")
                {
                    <tr class="bg-success" >
                         <td>@sinyal.SinyalId</td>
                                                <td>@sinyal.AboneNo</td>
                                                <td>@sinyal.SinyalTarih</td>
                                                <td>@sinyal.SinyalSaat</td>
                                                <td>@sinyal.IslemSaat</td>
                                                <td>@sinyal.IslemTarih</td>
                                                <td>@sinyal.SinyalKod</td>
                                                <td>@sinyal.Bolum</td>
                                                <td>@sinyal.Zone</td>
                                                <td>@sinyal.OperatorId</td>
                        <td>@sinyal.SinyalTAnim</td>
                        
                    </tr>  
                }
                if (sinyal.SinyalKod== "E402" )
                {
                    <tr class="bg-warning" >
                        <td>@sinyal.SinyalId</td>
                                               <td>@sinyal.AboneNo</td>
                                               <td>@sinyal.SinyalTarih</td>
                                               <td>@sinyal.SinyalSaat</td>
                                               <td>@sinyal.IslemSaat</td>
                                               <td>@sinyal.IslemTarih</td>
                                               <td>@sinyal.SinyalKod</td>
                                               <td>@sinyal.Bolum</td>
                                               <td>@sinyal.Zone</td>
                                               <td>@sinyal.OperatorId</td>
                                               <td>@sinyal.SinyalTAnim</td>
                    </tr>  
                }
                if (sinyal.SinyalKod== "E403" || sinyal.SinyalKod== "E405" )
                {
                    <tr class="bg-dark" >
                         <td>@sinyal.SinyalId</td>
                                                <td>@sinyal.AboneNo</td>
                                                <td>@sinyal.SinyalTarih</td>
                                                <td>@sinyal.SinyalSaat</td>
                                                <td>@sinyal.IslemSaat</td>
                                                <td>@sinyal.IslemTarih</td>
                                                <td>@sinyal.SinyalKod</td>
                                                <td>@sinyal.Bolum</td>
                                                <td>@sinyal.Zone</td>
                                                <td>@sinyal.OperatorId</td>
                                                <td>@sinyal.SinyalTAnim</td>
                    </tr>  
                }
                if (sinyal.SinyalKod== "E140" )
                {
                    <tr class="bg-secondary" >
                        <td>@sinyal.SinyalId</td>
                                               <td>@sinyal.AboneNo</td>
                                               <td>@sinyal.SinyalTarih</td>
                                               <td>@sinyal.SinyalSaat</td>
                                               <td>@sinyal.IslemSaat</td>
                                               <td>@sinyal.IslemTarih</td>
                                               <td>@sinyal.SinyalKod</td>
                                               <td>@sinyal.Bolum</td>
                                               <td>@sinyal.Zone</td>
                                               <td>@sinyal.OperatorId</td>
                        <td>@sinyal.SinyalTAnim</td>
                    </tr>  
                }
                if (sinyal.SinyalKod== "E120" )
                {
                    <tr class="bg-info" >
                        <td>@sinyal.SinyalId</td>
                        
                        <td>@sinyal.AboneNo</td>
                        
                        <td>@sinyal.SinyalTarih</td>
                        
                        <td>@sinyal.SinyalSaat</td>
                        
                        <td>@sinyal.IslemSaat</td>
                        
                                               <td>@sinyal.IslemTarih</td>
                                               <td>@sinyal.SinyalKod</td>
                                               <td>@sinyal.Bolum</td>
                                               <td>@sinyal.Zone</td>
                                               <td>@sinyal.OperatorId</td>
                        <td>@sinyal.SinyalTAnim</td>
                        
                    </tr>  
                }
                if (sinyal.SinyalKod== "E100" )
                {
                    <tr class="bg-dark" >
                        <td>@sinyal.SinyalId</td>
                                               <td>@sinyal.AboneNo</td>
                                               <td>@sinyal.SinyalTarih</td>
                                               <td>@sinyal.SinyalSaat</td>
                                               <td>@sinyal.IslemSaat</td>
                                               <td>@sinyal.IslemTarih</td>
                                               <td>@sinyal.SinyalKod</td>
                                               <td>@sinyal.Bolum</td>
                                               <td>@sinyal.Zone</td>
                                               <td>@sinyal.OperatorId</td>
                        <td>@sinyal.SinyalTAnim</td>
                        
                    </tr>  
                }
            }
            </tbody>
        </table>
    </div>
     @Html.PagedListPager((IPagedList)issinyal, page => Url.Action("IslenmisSinyal", new { page = page }),
                new PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = false,
                    ContainerDivClasses = new[] { "navigation" },
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" }
                }
                )
        
</div>

 <script>
            $(document).ready(function () {
            $('ul.pagination> li.disabled > a').addClass('page-link');
            $('ul.pagination').addClass('justify-content-center');
            
        });
    </script>

  