@using System.Reflection.Metadata
@model com.mehmet.proje.MVCWebUI.Models.MusteriModel
@addTagHelper *,PagedList.Core.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




@{    var sayac=1;
    var kimlik = Model.MusteriBilgiler;
    var sinyaller = Model.MusteriSinyaller;
    var aranacak = Model.Aranacaklars;
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Müşteri Paneli</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        .par {
            display: inline;
        }

        div.b {
            border: 1px solid red;
            border-radius: 5px;
        }

        h3.renk {
            color: royalblue;

        }

       
    </style>
  
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary justify-content-center">
        <a class="navbar-brand" href="#">Anasayfa</a>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#kimlik" data-toggle="tab">Abonelik Bilgilerim</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link active" href="#sinyaller" data-toggle="tab">Sinyaller</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#parola" data-toggle="tab">Parola İşlemleri</a>
                </li>
            </ul>
            <form asp-controller="Login" asp-action="Index" class="form-inline my-2 my-md-0">
                <input class="btn btn-danger" type="submit" value="Çıkış">
            </form>
        </div>
    </nav>

    <br>
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane" id="kimlik">
                <div class="container">
                    <h2 class="text-danger"> Abonelik Bilgileri </h2>
                    <br>
                   
                        <h3 class="text-center"> Kimlik Bilgileri </h3>
                        <div class="b form-row">
                            <div class="form-group col-md-2">
                                <label for="">Abone No:</label>
                                <p class="form-control">@kimlik.AboneNo</p>
                               
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Tc. Kimlik No:</label>
                                <p class="form-control">@kimlik.MusteriTcNo</p>
                               
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Ad Soyad:</label>
                                <p class="form-control">@kimlik.Kimlik</p>
                                
                            </div>
                        </div>
                        <br>
                        <h3 class="text-center" > Adres Bilgileri </h3>
                        <div class="b form-row">
                            <div class="form-group col-md-8">
                                <label for="">Adres</label>
                                <p class="form-control">@kimlik.Adres</p>
                                
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">İlçe</label>
                                <p class="form-control">@kimlik.AdresIlce</p>
                               
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">İl</label>
                                <p class="form-control">@kimlik.AdresIl</p>
                               
                            </div>
                        </div>
                        <br>
                        <h3 class="text-center" > İletişim ve Abonelik Bilgileri </h3>
                        <div class="b form-row">
                            <div class="form-group col-md-2">
                                <label for="">Sabit Numara</label>
                                <p class="form-control">@kimlik.EvTel</p>
                                
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">Cep Telefonu-1</label>
                                <p class="form-control">@kimlik.CepTel</p>
                               
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">Cep Telefonu-2</label>
                                <p class="form-control">@kimlik.CepTel</p>
                                
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">Abonelik Bağlangıç Tarihi</label>
                                 <p class="form-control">@kimlik.AboneBasTarihi</p>
                               
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">Abonelik Bitiş Tarihi</label>
                                 <p class="form-control">@kimlik.AboneBitTarihi</p>
                               
                            </div>
                        </div>
                        <br>
                        <h3 class="text-center" >Aranacak Kişiler</h3>
                        <div class=" b table-responsive ">
                            <table class="table table-striped table-hover say">
                                <thead>
                                    <tr>
                                       
                                        <td>#</td>
                                        <td>Adı Soyadı</td>
                                        <td>Cep Telefonu 1</td>
                                        <td>Cep Telefonu 2</td>
                                    </tr>

                                </thead>
                                <tbody>
                                
                                @foreach (var arkisi in aranacak)
                                {
                                    <tr>
                                        <td>@sayac</td>
                                        <td>@arkisi.kimlik</td>
                                        <td>@arkisi.ceptel</td>
                                        <td>@arkisi.ceptel2</td>
                                    </tr>

                                    sayac++;
                                }
                                </tbody>
                            </table>
                        </div>

                        <br>
                        <h3 class="text-center"> Alarm Cihazı Bilgileri </h3>
                        <div class="b form-row">

                            <div class="form-group col-md-2">
                                <label for="">Cihaz Marka</label>
                                <p class="form-control">@kimlik.ChMarka</p>
                                
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">Cihaz Model</label>
                                <p class="form-control">@kimlik.ChModel</p>
                                </div>
                            <div class="form-group col-md-2">
                                <label for="">İletişim Türü</label>
                                <p class="form-control">@kimlik.HaberlesmeTuru</p>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">İletişim Numarası</label>
                                <p class="form-control">@kimlik.EvTel</p>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">Garanti Süresi</label>
                                <p class="form-control">@kimlik.ChGarantiSuresi</p>
                            </div>
                        </div>

                   
                </div>

            </div>
            <div class="tab-pane" id="parola">
                <div class="container col-md-4">
                    <h3>Parola Değişikliği İşlemleri</h3>
                    <form asp-controller="Musteri" asp-action="index">
                        <div class="form-group">
                            <label for="">Yeni Parolanızı Giriniz</label>
                            <input asp-for="MusteriBilgiler.Parola" class="form-control" type="password" required
                                   placeholder="Şifreniz en az 4 karakter olmalı">
                        </div>
                        <!--
                        Şifre Eşleşme işine daha sonra bak-------------
                        <div class="form-group">
                            <label for="">Parolayı Tekrar Giriniz</label>
                            <input class="form-control" type="password" name="sifrecont" id="sifrecont">
                        </div>
                        -->
                        <input type="hidden" asp-for="MusteriBilgiler.MusteriId" />
                        <input type="submit" class="btn btn-success" name="" id="" value="Gönder">
                    </form>


                </div>




            </div>
            <div class="tab-pane active" id="sinyaller">
                <table class="table table-striped table-hover table-sm">
                    <thead class="thead">
                        <td>Sinyal Tarihi</td>
                        <td>Sinyal Saati</td>
                        <td>Sinyal Kodu</td>
                        <td>Bölge No</td>
                        <td>Zone</td>
                        <td>Sinyal Açıklama</td>
                    </thead>
                    <tbody>
                    @foreach (var sinyal in sinyaller)
                        {
                            if (sinyal.SinyalKod == "E400")
                            {
                                <tr class="bg-danger">
                                    <td >@sinyal.SinyalTarih</td>
                                    <td >@sinyal.SinyalSaat</td>
                                    <td >@sinyal.SinyalKod</td>
                                    <td >@sinyal.Bolum</td>
                                    <td >@sinyal.Zone</td>
                                    <td>ger erertertre ertertertertert asdsadasdasdasdasd</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="bg-light">
                                    <td >@sinyal.SinyalTarih</td>
                                    <td >@sinyal.SinyalSaat</td>
                                    <td >@sinyal.SinyalKod</td>
                                    <td >@sinyal.Bolum</td>
                                    <td >@sinyal.Zone</td>
                                    <td>ger erertertre ertertertertert asdsadasdasdasdasd</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="3" align="center">
                                    <pager list="@sinyaller" asp-controller="Musteri" asp-action="index"/>
                                </td>
                                
                            </tr>
                          
                        }
                        
                        
                   
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
      <script>
            function kontrol() {
                var sifrebir = document.getElementById("sifre").nodeValue;
                var sifreconbir = document.getElementById("sifrecont").nodeValue;
                if(sifrebir != sifreconbir){
                    alert("Sifreler Birbirine Uymuyor!");
                    
                }
              
            }    
        </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>